.side-nav {
  height: 100%;
  display: flex;
}

.side-nav .nav-link.active::after {
  content: " ";
  position: absolute;
  right:-10px;
  width: 20px;
  height: 20px; 
  background: #FFFFFF;
  border-left:1px solid #CAD5E0;
  border-top:1px solid #CAD5E0;
  transform:rotate(-45deg);
}