/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import "~@fortawesome/fontawesome-free/css/all.css";
@import "~bootstrap/dist/css/bootstrap.min.css";
@import '~react-bootstrap-typeahead/css/Typeahead.css';
@import '~@trendmicro/react-sidenav/dist/react-sidenav.css';
@import "./fonts/stylesheet.css";

@import '~react-toastify/dist/ReactToastify.css';
@import '~react-datepicker/dist/react-datepicker.css';

@import "./components/Navigation/Navigation.css";
@import "./components/Login/Login.css";
@import "./components/Logout/Logout.css";

body {
  font-size: .875rem;
  font-family: 'Industry', Arial, Helvetica, sans-serif;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

.cursor-pointer {
  cursor: pointer;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

.btn {
  cursor: pointer;
}

.btn[disabled], .disabled {
  cursor: not-allowed !important;
}

.Toastify__toast-body {
  padding: 0 15px;
}

.badge {
  text-transform: capitalize;
}

.filter-box {}

.ls-image-thumbnail {
  width: 80px !important;
  height: 80px !important;
  object-fit: contain;
}

/*
 * Content
 */

[role="main"] {
  margin-left: 65px;
}

[role="main"].expanded {
  margin-left: 240px;
}

@media (min-width: 768px) {
  [role="main"] {
  }
}

@media print {
  body {
    font-family: 'Industry', Arial, Helvetica, sans-serif;
  }
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

.react-datepicker-wrapper{
  width: 100%;
}

/*
 * Typeahead
 */

#items-typeahead {
  width: auto !important;
  max-width: auto !important;
}

/*
 * Tables
 */

.table-smd td, .table-smd th {
  padding: .65rem;
}


/*
 * Page Numbers for Print
 */

@page {
  counter-increment: page;
  counter-reset: page 1;
  @bottom-left {
      content: "Page " counter(page) " of " counter(pages);
  }
}

@media print {
  .d-print-position-absolute {
    position: absolute;
    width: 100%;
  }
}
