@font-face {
  font-family: 'Industry';
  src: url('./Industry-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Industry';
  src: url('./Industry-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
